
<%= render "devise/shared/error_messages", resource: resource %>

<h2>Verifikation wiederholen</h2>

<p>Sie haben hier die Möglichkeit, sich nochmal eine Nachricht an Ihre
  schon bekannte Email-Anschrift schicken zu lassen, die der
  Verifikation dieser Email-Anschrift dient.</p>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <fieldset>
    <legend>Wer sind Sie?</legend>
    <%= f.label :callsign, "Ihr gültiges persönliches Rufzeichen" %>
    <%= f.text_field :callsign, \
        autofocus: true, class: "fillme",  required: "required", spellcheck: "false" %>
    <p>Wir brauchen hier nur das Rufzeichen, nicht die Email-Anschrift!</p>
  </fieldset>

  <div class="actions">
    <%= f.submit t('.resend_confirmation_instructions') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
