<legend>Ihr neues Password für www.d-70.de</legend>

<%= f.label :password, "Password (mindestens #{@minimum_password_length} Zeichen)" %>
<%= f.password_field :password, \
    autocomplete: "off", class: "fillme", minlength: @minimum_password_length, required: "required" %>

<%= f.label :password_confirmation, "Bitte dasselbe nochmal" %>
<%= f.password_field :password_confirmation, \
    autocomplete: "off", class: "fillme", minlength: @minimum_password_length, required: "required" %>

<p>Bitte denken Sie sich ein unratbares Password aus,
  das Sie nur für www.d-70.de nutzen.</p>
