<h2>Password ändern</h2>

<%= render "devise/shared/error_messages", resource: resource %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <fieldset>
    <%= render partial: "password_twice", locals: {f: f} %>

    <%= f.label :current_password, "Bisheriges (altes) Password." %>
    <%= f.password_field :current_password, \
        autocomplete: "off", class: "fillme", minlength: @minimum_password_length, required: "required" %>

  </fieldset>

  <%= f.submit t('.update') %>
<% end %>

<%= link_to t('devise.shared.links.back'), :back %>
