<h2><%= t('.sign_up') %></h2>

<%= render "devise/shared/error_messages", resource: resource %>

<p>Auf dieser Seite meldet man sich neu bei &ldquo;<%= @hostname
  %>&rdquo; an.  Die eingegebene Email-Anschrift wird überprüft:
  Dorthin schicken wir eine Nachricht mit einem Link.  Auf dieses Link
  klicken bestätigt die Email-Anschrift und vervollständigt die
  Anmeldung.</p>

<p>Wenn Sie es noch genauer wissen wollen: Details gibt es auf der Seite über
  die <a href="/Registrierung">Registrierung</a>.
  
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <fieldset>
    <legend>Wer sind Sie?</legend>
    <%= f.label :callsign, "Ihr gültiges persönliches deutsches Rufzeichen" %>
    <%= f.text_field :callsign, \
        autofocus: true, class: "fillme",  required: "required", spellcheck: "false" %>

    <%= f.label :email, "Ihre Email-Anschrift" %>
    <%= f.email_field :email, \
        autocomplete: "email", class: "fillme", required: "required" %>
  </fieldset>

  <fieldset>
    <%= render partial: "password_twice", locals: {f: f} %>
  </fieldset>

  <%= hidden_field_tag 'captcha_id', @captcha.id %>
  <fieldset>
    <legend>Ein kleines Rätsel</legend>
    <p>... um zu überprüfen, dass Sie Funker(in) sind und keine Maschine.</p>
    <p><%= @captcha.question %></p>
    <% # = f.label :solution %>
    <%= text_field_tag 'captcha_answer', nil, \
        class: "fillme", placeholder: "Des Rätsels Lösung", spellcheck: "false", required: "required"  %>
  </fieldset>

  <%= f.submit t('.sign_up') %>
<% end %>

<%= render "devise/shared/links" %>
