<nav>
<%- if controller_name != 'sessions' %>
  <p><%= link_to t(".sign_in"), new_session_path(resource_name) %> (mit schon registriertem Rufzeichen) </p>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p><%= link_to t(".sign_up"), new_registration_path(resource_name) %> (wenn Sie neu hier sind)</p>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <p><%= link_to t(".forgot_your_password"), new_password_path(resource_name) %></p>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <p><%= link_to "Email-Anschrift noch mal bestätigen", new_confirmation_path(resource_name) %> (wenn das bisher noch nicht geklappt hat)</p>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <p><%= link_to t('.sign_in_with_provider', provider: OmniAuth::Utils.camelize(provider)), omniauth_authorize_path(resource_name, provider) %></p>
  <% end -%>
<% end -%>
</nav>
