<% if lfr.errors.any? %>
  <div class="alert">
    <h2>Ihre Antwort kann so nicht gespeichert werden.</h2>

    <ul>
    <% lfr.errors.values.each do |message| %>
      <li><%= message.join " "  %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h2>Log bezieht sich auf diese Aktivierung:</h2>
<table>
<%= render 'reservation_details', reservation: @reservation, now: @now %>
</table>

<%= form_tag(reservation_log_file_records_path(reservation, lfr), local: true, method: :post, multipart: true, class: "b-lfr_form") do |form| %>

<fieldset class="b-lfr_fieldset">
  <legend class="b-lfr-legend">ADIF-Log-Datei</legend>
  <%= file_field_tag "log_file_record[adif_log]", required: :required %>
</fieldset>

<fieldset class="b-lfr_fieldset">
  <legend class="b-lfr_legend">Multiaktivierungslog?</legend>
  <p>Enthält die Logdatei Daten für mehrere Aktivierungen von <%= @reservation.station.name %>?</p>
  <%= lfr_radio_button_tag(lfr, :log_contains_irrelevant_qsos, "false", required: true, class: "b-lfr_button__in-row") %>
  <%= label_tag(:log_contains_irrelevant_qsos, "Nein, nur für diese Aktivierung (wie oben).", class: "b-lfr_label__lastline") %>
  <%= lfr_radio_button_tag(lfr, :log_contains_irrelevant_qsos, "true", required: true, class: "b-lfr_button__in-row") %>
  <%= label_tag(:log_contains_irrelevant_qsos, "Ja, zusätzlich für andere.", class: "b-lfr_label__lastline") %>
  <p class="b-lfr_p-in-form__after">Falls ja, werden QSOs außerhalb der Aktivierungszeit <em>für diese Aktivierung</em> ignoriert.
    Dieselbe Logdatei kann dann für verschiedene Aktivierungen wiederholt hochgeladen werden.
  </p>
</fieldset>

<fieldset class="b-lfr_fieldset">
  <legend class="b-lfr_legend">Call</legend>
  <p>Für alle QSOs in dieser Logdatei, die zu dieser Aktivierung gehören, wurde das Rufzeichen benutzt:</p>
  <%= lfr_radio_button_tag(lfr, :callsign, @reservation.station.name, required: true) %>
  <%= label_tag(:callsign, @reservation.station.name, class: "b-lfr_label__lastline") %>
  <%= lfr_radio_button_tag(lfr, :callsign, "#{@reservation.station.name}/p", required: true) %>
  <%= label_tag(:callsign, "#{@reservation.station.name}/p", class: "b-lfr_label__lastline") %>
  <%= lfr_radio_button_tag(lfr, :callsign, "#{@reservation.station.name}/m", required: true) %>
  <%= label_tag(:callsign, "#{@reservation.station.name}/m", class: "b-lfr_label__lastline") %>
</fieldset>

<fieldset class="b-lfr_fieldset">
  <legend class="b-lfr_legend">QTH</legend>
  <p class="b-lfr_p-in-form__after">Unser QTH lag für alle QSOs in dieser Logdatei, die zu dieser Aktivierung gehören,<br/>im Locator
    <%= text_field_tag("log_file_record[locator]", lfr.locator, size: 6) %> (bei Mobilbetrieb freilassen).</p>
</fieldset>

<fieldset class="b-lfr_fieldset">
  <legend class="b-lfr_legend">*OTA, DL-FF, GMA</legend>
  <p class="b-lfr_p-in-form__after">Alle QSOs in dieser Logdatei, die zu dieser Aktivierung gehören,
    gelten nach den Regeln des jeweiligen Programms als Aktivierung für</p>
  <p>
  <%= label_tag("log_file_record[gma]", "GMA", class: "b-lfr_ota-label__first") %>
  <%= text_field_tag("log_file_record[gma]", lfr.gma, size: 10, class: "b-lfr_ota-field__first") %>
  </p>
  <p>
  <%= label_tag("log_file_record[dlff]", "DL-FF", class: "b-lfr_ota-label") %>
  <%= text_field_tag("log_file_record[dlff]", lfr.gma, size: 10, class: "b-lfr_ota-field") %>
  </p>
  <p>Weitere können bei Bedarf schnell hinzugefügt werden; solchen Bedarf bitte <a href="mailto:dj3ei@d-70.de">melden</a>.</p>
</fieldset>


<fieldset class="b-lfr_fieldset">
  <legend class="b-lfr_legend">Papier-QSL-Ablehnung</legend>
  <p>In dieser Logdatei ist für manche QSL-Partner festgehalten, dass sie ausdrücklich <em>keine</em> Papier-QSL von uns wünschen.</p>
  <p class="b-lfr_p-in-form__before">Das galt für folgende QSOs in dieser Logdatei, die zu dieser Aktivierung gehören:</p>
  <%= lfr_radio_button_tag(lfr, :qsl_paper, "no_info", required: true) %><%= label_tag(:satellite, "Keine", class: "b-lfr_label__lastline") %>
  <%= lfr_radio_button_tag(lfr, :qsl_paper, "adif_qsl_sent_n", required: true) %><%= label_tag(:satellite, "Durch QSL_SENT Wert \"N\"", class: "b-lfr_label__lastline") %>
  <%= lfr_radio_button_tag(lfr, :qsl_paper, "remark_noqsl", required: true) %><%= label_tag(:satellite, "Durch \"noqsl\" im COMMENTS-Feld.", class: "b-lfr_label__lastline") %>
  <p class="b-lfr_p-in-form__after">(Vorsicht: Entgegen den Empfehlungen der <a href="https://adif.org/309/ADIF_309.htm#QSLSent_Enumeration">ADIF-Spec</a>
    belegen leider viele Logprogramme den QSL_SENT mit N vor.)</p>
</fieldset>


<fieldset class="b-lfr_fieldset">
  <legend class="b-lfr_legend">SAT</legend>
  <p>Für das QSO wurde ein Satellit oder OSCAR benutzt.</p>
  <p class="b-lfr_p-in-form__before">Das galt für folgende QSOs in dieser Logdatei, die zu dieser Aktivierung gehören:</p>
  <%= lfr_radio_button_tag(lfr, :satellite, "each_one", required: true) %><%= label_tag(:satellite, "alle", class: "b-lfr_label__lastline") %>
  <%= lfr_radio_button_tag(lfr, :satellite, "adif", required: true) %><%= label_tag(:satellite, "QSOs mit PROP_MODE Wert \"SAT\"", class: "b-lfr_label__lastline") %>
  <%= lfr_radio_button_tag(lfr, :satellite, "noot_one", required: true) %><%= label_tag(:satellite, "keine", class: "b-lfr_label__lastline") %>
  <%= lfr_radio_button_tag(lfr, :satellite, "some", required: true) %><%= label_tag(:satellite, "einige", class: "b-lfr_label__lastline") %>

  <p class="b-lfr_p-in-form__after">Falls für alle OSCAR-QSOs derselbe, der SAT-Name: <%= text_field_tag("log_file_record[satellite_name]", lfr.satellite_name, size: 10) %> (sonst frei lassen).</p>
</fieldset>

<%= render "form_atom_adif",
    headline: "Packet Radio",
    legend: "Für das QSO wurde Packet Radio benutzt.",
    prop_mode: "PKT",
    lfr: lfr, sym: :packet_radio %>

<%= render "form_atom_adif",
    headline: "Internet",
    legend: "Die QSO-Informationen wurden für das Zustandekommen des QSO über Internet-Strecken übertragen (Echolink, Fusion, ...).",
    prop_mode: "INTERNET",
    lfr: lfr, sym: :internet_assisted %>

<%= render "form_atom_adif",
    headline: "Relais",
    legend: "Für das QSO wurden eine Repeater, Relais, Digipeter oder ähnliches benutzt.",
    prop_mode: "RPT",
    lfr: lfr, sym: :repeater %>

<%= render "form_atom",
    headline: "Multi-QTH / WebSDR nicht benutzt",
    legend: "In jedem Augenblick befanden sich alle von uns für das QSO benutzten RX und TX in einem Kreis mit einem Durchmesser von 500 m.",
    lfr: lfr, sym: :one_qth %>

<%= render "form_atom",
    headline: "Mobil",
    legend: "Es handelte sich um ein Mobil-QSO.",
    lfr: lfr, sym: :mobile %>

<%= render "form_atom",
    headline: "Landstation",
    legend: "Die für das QSO benutzte Station befand sich an Land (nicht in einem Boot, Schiff oder Luftfahrzeug).",
    lfr: lfr, sym: :land_station %>

<%= submit_tag "Stimmt alles - Log abschicken." %>
<% end %>
