<fieldset class="b-lfr_fieldset">
  <legend class="b-lfr_legend"><%= headline %></legend>
  <p><%= raw(legend) %></p>
  <p class="b-lfr_p-in-form__before">Das galt für folgende QSOs in dieser Logdatei, die zu dieser Aktivierung gehören:</p>
  <%= lfr_radio_button_tag(lfr, sym, "each_one", required: true) %><%= label_tag(sym, "alle", class: "b-lfr_label__lastline") %>
  <%= lfr_radio_button_tag(lfr, sym, "adif", required: true) %><%= label_tag(sym, "QSOs mit PROP_MODE Wert \"#{prop_mode}\"", class: "b-lfr_label__lastline") %>
  <%= lfr_radio_button_tag(lfr, sym, "noot_one", required: true) %><%= label_tag(sym, "keine", class: "b-lfr_label__lastline") %>
  <%= lfr_radio_button_tag(lfr, sym, "some", required: true) %><%= label_tag(sym, "einige", class: "b-lfr_label__lastline") %>
</fieldset>
