<%
   ui_state = reservation.ui_state now
   tr_class = "b-status_row"
   td_highlight_class = "b-status_field"
%>

<% if reservation.qrg_mode.present? %>
  <tr class="<%= tr_class %>">
    <td class="b-status_key">qrg+mode</td>
    <td>
      <span class="<%= td_highlight_class %>"><%= reservation.qrg_mode %></span>
    </td>
  </tr>
<% end %>
<% if reservation.comment.present? %>
  <tr class="<%= tr_class %>">
    <td class="b-status_key">Kommentar</td>
    <td>
      <span class="<%= td_highlight_class %>"><%= reservation.comment %></span>
    </td>
  </tr>
<% end %>
<% if reservation.op_publish %>
  <tr class="<%= tr_class %>"><td class="b-status_key">OP</td><td><%= reservation.user.callsign %></td></tr>
<% end %>
<tr class="<%= tr_class %>"><td class="b-status_key">von</td><td><%= reservation.start_time %></td></tr>
<tr class="<%= tr_class %>"><td class="b-status_key">bis</td><td><%= reservation.end_time %></td></tr>
<tr class="<%= tr_class %>"><td class="b-status_key__lastline"><a href="<%= reservation_path(reservation) %>">Details</a></td></tr>

