<h1>Eine Log-Datei</h1>

<h2>Log bezieht sich auf diese Aktivierung:</h2>
<table>
<%= render 'reservation_details', reservation: @reservation, now: @now %>
</table>

<h2>Datei-Einzelheiten</h2>

<table>
  <tr class="b-status_row">
    <td class="b-status_key">Dateiname</td>
    <td><%= @lfr.adif_log.blob.filename %></td>
  </tr>
  <tr class="b-status_row">
    <td class="b-status_key">Länge [Bytes]</td>
    <td><%= @lfr.adif_log.blob.byte_size %></td>
  </tr>
  <tr class="b-status_row">
    <td class="b-status_key">Hochgeladen</td>
    <td><%= @lfr.adif_log.created_at %></td>
  </tr>
</table>

<% if @lfr.may_be_changed? %>
  <%= form_tag log_file_record_path(@lfr), method: "delete", class: "b-lfr_edit-form" do %>
    <p>Diese Logdatei <%= submit_tag "Löschen", class: "b-lfr_button__in-row" %></p>
  <% end %>
<% end %>

<p>Logdatei <a href="<%= url_for @lfr.adif_log %>">herunterladen</a>.</p>

<% if @lfr.reservation.expects_log? %>
  <%= form_tag log_file_record_path(@lfr), method: "delete" do %>
    <p>Logdatei <%= submit_tag value = "Löschen.", class: "b-lfr_button__in-row" %></p>
  <% end %>
<% end %>
