<html>
  <head>
    <title>Herzlich Willkommen zur Jubiläumsfunkaktion des DARC-Distrikts D!</title>
  </head>
  <body>
    <p>Hallo, <%= @user.callsign%>,</p>

    <p>Dein Zugang für <a href="https://www.d-70.de/">www.d-70.de</a> ist soeben
      freigeschaltet worden. Du kannst Dir jetzt dort die Benutzung des
      Rufzeichens DR70BLN reservieren (oder mit der Pseudostation test0spielwiese
      die Software dort erforschen und sonst herumspielen).</p>

    <p>Es grüßt Dich und wünscht Dir viel Spaß und Freude mit
      DR70BLN-Aktivierungen und überhaupt mit unserem Hobby</p>
    
    <p>Andreas, DJ3EI</p>
  </body>
</html>
