<h2><%= t('.resend_unlock_instructions') %></h2>

<%= render "devise/shared/error_messages", resource: resource %>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

  <div class="field">
    <%= f.label :callsign %><br />
    <%= f.email_field :callsign, autofocus: true, autocomplete: "Rufzeichen" %>
  </div>

  <div class="actions">
    <%= f.submit t('.resend_unlock_instructions') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
