<% n = notice %>
<% a = alert %>
<% if n or a %>
  <aside class="headnote">
    <% if n %>
      <p class="notice"><%= n %></p>
    <% end %>
    <% if a %>
      <p class="alert"><%= a %></p>
    <% end %>
  </aside>  
<% end %>
