<% if current_user and not(@user_preference_page) %>
  <% if current_user.user_preference %>
    <% if current_user.user_preference.older_than_question_version? %>
      <p><span class="important">Bitte den neuen <a href="<%= edit_user_preference_path(current_user.user_preference) %>">Fragebogen</a> ausfüllen!</span></p>
    <% else %>
      <p>Zu Ihrem persönlichen <a href="<%= edit_user_preference_path(current_user.user_preference) %>">Fragebogen</a>.</p>
    <% end %>
  <% else %>
    <p><span class="important">Bitte den <a href="<%= new_user_preference_path %>">Fragebogen</a> ausfüllen!</span></p>
  <% end %>
<% end %>
