<h1>User verifizieren</h1>

<% [false, true].each do |verified| %>
<h2>Schon verifiziert: <%= I18n.t "bool.#{verified}" %></h2>
<%
   ov2user = @by_verified[verified] 
   ov2user.keys.sort.each do |ov|
%>
<h3>OV <%= ov %></h3>
<table>
  <tr><th>id</th><th>call</th><th>email</th><th></th></tr>
<%
   user_a = ov2user[ov]
   user_a.each do |u|
%>
  <tr class="b-ua_row">
    <td><a href="<%= station_4op_path(1, user_id: u.id) %>"><%= u.id %></a></td>
    <% if u.user_preference %>
      <td><a href="<%= edit_user_preference_path(u) %>"><%= u.callsign %></a></td>
    <% else %>
      <td><%= u.callsign %></td>
    <% end %>
    <td><%= u.email %></td>
    <td>
      <%= form_tag user_admin_path(u), method: "patch" do %>
      <%= hidden_field_tag name="user[verified]", value = not(verified) %>
      <%= submit_tag value = (verified ? "✖" : "✔"), class: "b-ua_change-button" %>
      <% end # form_tag %>
    </td>
  </tr>
  <% end # user_a %>
</table>
<% end # ov%>
<% end # verified%>

