<h2>Password ändern</h2>

<%= render "devise/shared/error_messages", resource: resource %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <fieldset>
  <%= render partial: "devise/registrations/password_twice", locals: {f: f} %>
  </fieldset>

  <div class="actions">
    <%= f.submit t('.change_my_password') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
