<h2><%= t('.forgot_your_password') %></h2>

<%= render "devise/shared/error_messages", resource: resource %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <fieldset>
    <%= f.label :callsign, "Ihr persönliches Rufzeichen" %>
    <%= f.text_field :callsign, \
        autofocus: true, class: "fillme", required: "required", spellcheck: "false" %>
    <p>Wir brauchen hier nur Ihr Rufzeichen, nicht Ihre Email-Anschrift.</p>
  </fieldset>

  <%= f.submit t('.send_me_reset_password_instructions') %>
<% end %>

<%= render "devise/shared/links" %>
