<% if reservation.errors.any? %>
  <div class="alert">
    <h2>Ihre Antwort kann so nicht gespeichert werden.</h2>

    <ul>
    <% reservation.errors.values.each do |message| %>
      <li><%= message.join " "  %></li>
    <% end %>
    </ul>
  </div>
<% end %>
