<fieldset>
  <legend>Kommentar / sonstiges</legend>
  <p><%= text_field_tag("reservation[comment]", reservation.comment, size: 80) %></p>
  <p>Kontestteilnahme, *OTA, oder was sonst wichtig sein könnte.  Diese Info
    wird hier auf der Webseite veröffentlicht. (Kann freigelassen werden.)
  </p>
</fieldset>

