<% if reservation.last_event.nil? || reservation.present_state == :requested %>
<fieldset>
  <legend>Ob ich <%= station.name %> zu dieser Zeit nutzen kann, möchte ich möglichst wissen bis</legend>
  <table>
    <tbody>
      <tr><th>Jahr</th><th>Monat</th><th>Tag</th><th>Stunde</th><th></th></tr>
      <tr class="b-res_times">
        <%= render 'time', station: station, name: 'decision_wanted',
            selected: reservation.decision_wanted.getutc, omit_minute: true %>
        <td>UTC</td>
      </tr>
    </tbody>
  </table>
</fieldset>
<% end %>
