<%= form_for(reservation, url: station_reservations_path(station_id: station.id), local: true) do |form| %>

<%= render 'complain_on_error', reservation: reservation %>

<fieldset>
  <legend>Ich möchte <%= station.name %> nutzen in der Zeit</legend>
  <table>
    <tbody>
      <tr><th></th><th>Jahr</th><th>Monat</th><th>Tag</th><th>Stunde</th><th>Minute</th><th></th></tr>
      <tr class="b-res_times">
        <td>von</td>
        <%= render 'time', station: station, name: 'start_time', selected: reservation.start_time.getutc, omit_minute: false %>
        <td>UTC</td>
      </tr>
      <tr class="b-res_times">
        <td>bis</td>
        <%= render 'time', station: station, name: 'end_time', selected: reservation.end_time.getutc, omit_minute: false %>
        <td>UTC.</td>
      </tr>
    </tbody>
  </table>
</fieldset>

<%= render 'importance', station: station, reservation: reservation %>

<%= render 'op_publish', station: station, reservation: reservation, user: user %>

<%= render 'decision_wanted', station: station, reservation: reservation %>

<%= render 'qrg_mode',  station: station, reservation: reservation %>

<%= render 'comment',  station: station, reservation: reservation %>

<p>Wenn die Nutzung genehmigt wird, verspreche ich</p>

<ul>
  <li>meine Reservierung möglichst umgehend zu stornieren, wenn ich doch nicht kann,</p>

  <li>nachher Auskunft darüber zu erteilen, welche
    <a href="https://lotw.arrl.org/lotw-help/submitting-qsos/#right-callsign">Variante</a> des Rufzeichens
    benutzt wurde. Wer etwas anderes will als <%= station.name %>,
    <%= station.name %>/p oder <%= station.name %>/m, klärt es bitte
    <em>vorher</em> mit <a href="mailto:dj3ei@d-70.de">mir</a>.</li>

  <li>
    ein vollständiges Log im ADIF-Format hier abzugeben (oder, bei
    Multi/Multi-Betrieb am selben Standort, auch mehrere).</li>

  <li>Bei unbewegtem Betrieb den Standort als sechsstelligen
    Maidenhead-Locator festzuhalten.</li>

  <li>Für jedes einzelne QSO, ob das QSO "normal" oder über Relais,
    Echolink, Packet Radio oder von einem Boot, Schiff oder einem
    Luftfahrzeug aus gemacht wurde (wichtig wegen der DXCC und DLD
    Diplome).</li>

</ul>

<p>Für ein vollständiges Log brauchen wir für jedes QSO mindestens:</p>

<ul>
  <li>Rufzeichen der Gegenstation,</li>
  <li>Anfangszeitpunkt des QSOs (in UTC),</li>
  <li>das Band,</li>
  <li>die Betriebsart und</li>
  <li>den von DR70BLN an die Gegenstation gegebenen Rapport.</li>
</ul>

<p>Das orientiert sich an den Erfordernissen für 
  <a href="https://lotw.arrl.org/lotw-help/submitting-qsos/">LotW</a>
  und für <a href="https://www.darc.de/index.php?eID=dumpFile&t=f&f=326596&token=ccd9a1e4c05aded25313ad25987588fbc0bb8fbd">QSL-Karten</a>.
</p>

<%= form.submit "Reservierung beantragen" %>
<% end %>

<p>Übrigens: Viele Angaben kann der verantwortliche OP nachträglich
  ändern, die zu QRG+Betriebsart sowie den Kommentar sogar während des
  bereits laufenden Betriebs.</p>
