<% if reservation.last_event.nil? || reservation.present_state == :requested %>
<fieldset>
  <legend>Dass die Nutzung zustande kommt, ist mir:</legend>
  <p><%= radio_button_tag("reservation[importance]", :badly_wanted, checked = reservation.importance == "badly_wanted") %>
  <%= label_tag("reservation_importance_badly_wanted", I18n.t("reservations.importance.badly_wanted"), class: "short") %>
  <%= radio_button_tag("reservation[importance]", :normal, checked = reservation.importance == "normal") %>
  <%= label_tag("reservation_importance_normal", I18n.t("reservations.importance.normal"), class: "short") %>
  <%= radio_button_tag("reservation[importance]", :unimportant, checked = reservation.importance == "unimportant") %>
  <%= label_tag("reservation_importance_unimportant", I18n.t("reservations.importance.unimportant"), class: "short") %></p>
  <p>Hier geht es um Konflikte, falls mehrere OPs die Station gleichzeitig an verschiedenen Standorten nutzen wollen.</p>
</fieldset>
<% end %>
