<fieldset>
  <legend>Mein Rufzeichen als verantwortlicher OP darf</legend>
  <%= radio_button_tag("reservation[op_publish]", "true", checked = reservation.op_publish) %>
  <%= label_tag("reservation_op_publish_true", "veröffentlicht werden.", class: "short") %>
  <%= radio_button_tag("reservation[op_publish]", "false", checked = not(reservation.op_publish)) %>
  <%= label_tag("reservation_op_publish_false", "nicht veröffentlicht werden.", class: "short") %>
  <span><a href="<%= edit_user_preference_path(user) + "#default_op_publish" %>">Standardwert ändern.</a></span>
</fieldset>
