<fieldset>
  <legend>QRG und Betriebsart</legend>
  <p><%= text_field_tag("reservation[qrg_mode]", reservation.qrg_mode, size: 80) %></p>
  <p>Falls vorhanden, wird dieser Hinweis hier auf der Webseite veröffentlicht, um
    denjenigen, die <%= station.name %> arbeiten wollen, die Suche zu
    erleichtern.  Auch im laufenden Betrieb änderbar.</p>
</fieldset>

