<table>
  <tr class="b-res_line__status"><td class="b-res_key">Status</td><td><%= I18n.t "reservations.state.#{reservation.present_state}" %></td></tr>
  <% if admin_user or reservation.op_publish %>
  <tr><td class="b-res_key">OP</td><td><%= reservation.user.callsign %></td></tr>
  <% elsif reservation.user == current_user %>
  <tr><td class="b-res_key">OP</td><td>Sie selbst.</td></tr>
  <% end %>
  <tr><td class="b-res_key">von</td><td><%= reservation.start_time %></td></tr>
  <tr><td class="b-res_key">bis</td><td><%= reservation.end_time %></td></tr>
  <tr><td class="b-res_key">qrg+mode</td><td><%= reservation.last_event.qrg_mode %></td></tr>
  <tr><td class="b-res_key">Kommentar</td><td><%= reservation.comment %></td></tr>
  <tr><td class="b-res_key">OP veröffentlichbar</td><td><%= I18n.t "bool.#{reservation.op_publish}" %></td></tr>
  <tr><td class="b-res_key">relative Wichtigkeit</td><td><%= I18n.t "reservations.importance.#{reservation.importance}" %></td></tr>
</table>
