<td>
  <select id="<%= name %>_year" name="reservation[<%= name %>[year]]">
    <%
       s = selected.year
       (station.earliest_start.getutc.year .. station.latest_end.getutc.year).each do |y|
    %>
    <option value="<%= y %>"<% if s == y %> selected="selected"<% end %>><%= y %></option>
    <% end %>
  </select>
</td><td>
  <select id="<%= name %>_month" name="reservation[<%= name %>[month]]">
    <% if station.earliest_start.getutc.year == station.latest_end.getutc.year
         months = (station.earliest_start.getutc.month .. station.latest_end.getutc.month)
       else
         months = (1 .. 12)
       end
       s = selected.month
       months.each do |m|
    %>
    <option value="<%= m %>"<% if s == m %> selected="selected"<% end %>><%= m %></option>
    <% end %>
  </select>
</td><td>
  <select id="<%= name %>_day" name="reservation[<%= name %>[day]]">
    <% s = selected.day
       (1 .. 31).each do |d| %>
    <option value="<%= d %>"<% if s == d %> selected="selected"<% end %>><%= d %></option>
    <% end %>
  </select>
</td>
<td>
  <select id="<%= name %>_hour" name="reservation[<%= name %>[hour]]">
    <% s = selected.hour
       (0 .. 23).each do |h| %>
       <option value="<%= h %>"<% if s == h %> selected="selected"<% end %>><%= h %></option>
    <% end %>
  </select>
</td>
<% unless omit_minute %>
<td>
  <select id="<%= name %>_minute" name="reservation[<%= name %>[minute]]">
    <% s = selected.min
       (0 .. 59).each do |m| %>
      <option value="<%= m %>"<% if s == m %> selected="selected"<% end %>><%= m %></option>
    <% end %>
  </select>
</td>
<% end %>
