<h1>Nutzung von <%= @r.station.name %> ändern</h1>

<%= render 'complain_on_error', reservation: @r %>

<%= render 'reservation_details', reservation: @r, admin_user: @admin_user, current_user: @current_user %>

<% if @r.edit_makes_sense? %>

<%= form_tag reservation_path(@r), method: "patch", class: "b-res_qrg-only-form" do %>
  <%= render 'qrg_mode', reservation: @r, station: @r.station %> 
  <%= submit_tag "QRG+Mode aktualisieren", class: "b-res_change-button" %>
<% end %>

<%= form_tag reservation_path(@r), method: "patch" do %>
  <% unless @r.present_state == :granted %>
  <%= render 'importance', reservation: @r, station: @r.station %>
  <% end %>
  <%= render 'op_publish', reservation: @r, station: @r.station, user: @current_user %>
  <% unless @r.present_state == :granted %>
  <%= render 'decision_wanted', reservation: @r, station: @r.station %>
  <% end %>
  <%= render 'comment', reservation: @r, station: @r.station %> 
  <%= submit_tag "Anderes ändern", class: "b-res_change-button" %>
<% end %>

<% unless @next_event_types.empty? %>

<p>Folgendes wird nicht oft benötigt:</p>

<% @next_event_types.each do |et| %>
  <%= form_tag reservation_path(@r), method: "patch" do %>
    <%= hidden_field_tag name="reservation[event_type]", et.to_s %>
    <%= submit_tag value = I18n.t("reservations.transition.#{et.to_s}"), class: "b-res_change-button" %>
    
  <% end %>
<% end %>
<% end %>

<% end %>
