<p id="notice"<%= notice %></p>

<h1>Nutzung von <%= @station.name %> beantragen</h1>

<% unless @validated_user %>

<p class="b-res_warning">Diese Funktionalität steht Ihnen leider noch
  nicht zur Verfügung.  Wir überprüfen für jede Rufzeichen /
  Email-Kombination, ob die betreffende Person zum Distrikt gehört und
  kein Rufzeichenmissbrauch vorliegt.  Das ist bei Ihnen noch nicht
  passiert.</p>

<% end %>

<%= render 'form', station: @station, reservation: @reservation, user: @current_user %>
