<p id="notice"<%= notice %></p>

<h1>Details einer Reservierungsanfrage für <%= @r.station.name %></h1>


<% if @r.present_state == :requested %>

<h2>Genehmigungsaussichten</h2>

<%
   cg = @r.conflict_grade
   case cg
   when :conflict_with_granted
   cl = "b-res_conflict__bad"
   when :conflict_with_more_important
   cl = "b-res_conflict__bad"
   when :conflict_with_equally_important
   cl = "b-res_conflict__uncertain"
   when :conflict_with_less_important
   cl = "b-res_conflict__no-problem"
   when :no_conflict
   cl = "b-res_conflict__no-problem"
   end
 %>

<p><span class="<%= cl%>"><%= I18n.t "reservations.conflict_grade.#{cg}" %></span></p>

<% end %>

<%= render 'reservation_details', reservation: @r, admin_user: @admin_user, current_user: @current_user %>

<%
log_button_class = "b-res_edit-button__left-in-row"
if @may_change
   log_button_class = "b-res_edit-button__in-row"

%>
   <%= form_tag edit_reservation_path(@r), method: "get", class: "b-res_edit-form__row" do %>
     <%= submit_tag "Ändern", class: "b-res_edit-button__left-in-row" %>
   <% end %>
<% end %>

<% if @may_log %>
  <%= form_tag new_reservation_log_file_record_path(@r), method: "get", class: "b-res_edit-form__row" do %>
    <%= submit_tag "Log abgeben", class: "#{log_button_class}" %>
  <% end %>
  <% unless @r.log_file_records.empty? %>
    <%= form_tag reservation_path(@r), method: "patch", class: "b-res_edit-form__row" do %>
      <%= hidden_field_tag name="reservation[event_type]", "log_received" %>
      <%= submit_tag value = "Keine weiteren Logs", class: "b-res_edit-button__in-row" %>
    <% end %>
  <% end %>
<% end %>

<% if not(@r.log_file_records.empty?) %>
<h2>Logs für diese Aktivierung</h2>

<p>Normalerweise ein Log, aber dürfen auch mehrere sein (z.B. bei MultiOp-Aktivierung am selben Standort).</p>

<ul>

<% @r.log_file_records.each do |lfr| %>

<li><a href="<%= edit_log_file_record_path(lfr) %>"><%= lfr.adif_log.blob.filename %></a>, hochgeladen <%= lfr.created_at %>.</li>

<% end %>

</ul>
<% end %>

<h2>Bisherige Historie dieser Anfrage</h2>

<table>
  <tbody>
  <%
    previous_event_type = nil
    @r.reservation_events.each do |re|
  %>
      <tr class="b-res_line__first"><td>Um</td><td><%= re.created_at %></td></tr>
      <% if previous_event_type != re.event_type %>
        <tr class="b-res_line__status"><td class="b-res_key">Status</td><td><%= I18n.t "reservations.state.#{re.event_type}" %></td></tr>
      <% end %>
      <% if re.comment.present? %><tr><td class="b-res_key">Kommentar</td><td><%= re.comment %></td></tr><% end %>
      <% if re.qrg_mode.present? %><tr><td class="b-res_key">qrg+mode</td><td><%= re.qrg_mode %></td></tr><% end %>
      <% unless re.op_publish.nil? %><tr><td class="b-res_key">OP veröffentlichbar</td><td><%= I18n.t "bool.#{re.op_publish}" %></td></tr><% end %>
      <% unless re.decision_wanted.nil? %><tr><td class="b-res_key">Entscheidung erbeten bis</td><td><%= re.decision_wanted %></td></tr><% end %>
      <% unless re.importance.nil? %>
        <tr><td class="b-res_key">Wichtigkeit</td><td><%= I18n.t "reservations.importance.#{re.importance}" %></td></tr>
      <% end %>
  <%
      previous_event_type = re.event_type      
    end
  %>
  </tbody>
</table>

<% unless @overlapping.empty? %>

<h2>Überlappende andere Anfragen</h2>

<p>Nicht erschrecken! Es ist ein gutes Zeichen, wenn mehrere zur
  gleichen Zeit aktiv werden wollen. Das bedeutet nur, dass die
  für das Rufzeichen zuständige Person eine Entscheidung treffen
  muss.</p>

<table>
  <tr>
    <th></th>
    <th>OP</th>
    <th class="b-res_otherkey">Status</th>
    <th>von</th>
    <th>bis</th>
    <th>W.</th>
  </tr>
  <% @overlapping.each do |other|
     imp = case other.importance
     when "badly_wanted" then "BW"
     when "normal" then "N"
     when "unimportant" then "U"
     else "?"
     end
   %>
  <% tr_class = other.relevant_for_op?(@r.start_time, @r.end_time) ? "b-res_row__relevant" : "b-res_row__irrelevant" %>
  <tr class="<%= tr_class %>">  
    <td><a href="<%= reservation_path(other) %>">Details</a></td>
    <td><%= other.op %></td>
    <td class="b-res_value"><%= I18n.t "reservations.shortstate.#{other.present_state}" %></td>
    <td class="b-res_value"><%= other.start_time %></td>
    <td class="b-res_value"><%= other.end_time %></td>
    <td class="b-res_value"><%= imp %></td>
  </tr>
  <% end %>
</table>

<% end %>
