<h2><%= t('.sign_in') %></h2>

<p>Für den vollen Zugriff melden Sie sich bitte an.</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <fieldset>
    <legend>Bitte Ihre Anmelde-Informationen.</legend>
    <%= f.label :callsign, "Ihr gültiges persönliches Rufzeichen (nur Call, nicht Email)" %>
    <%= f.text_field :callsign, autofocus: true, class: "fillme", required: "required", spellchec: "false" %>
    <%= f.label :password %>
    <%= f.password_field :password, class: "fillme", required: "required"  %>

  </fieldset>

  <div class="actions">
    <%= f.submit t('.sign_in') %>
  </div>
<% end %>

<h2>Das klappt nur,</h2>

<p>... wenn Sie ...</p>

<ul>
  <li>sich schon mal hier registriert und</li>
  <li>anschließend Ihre Email-Anschrift erfolgreich bestätigt haben und</li>
  <li>Ihr beim Registrieren gegebenes Password noch wissen.</li>
</ul>

<h3>Sonst:</h3>

<%= render "devise/shared/links" %>

<p>Siehe auch die Beschreibung unter <a href="/Registrierung">Registrieren (Beschreibung)</a>.
