<% if reservations.any? %>

<h2><%= headline %></h2>

<table>
  <tr>
    <th></th>
    <th>Status</th>
    <th>von</th>
    <th>bis</th>
  </tr>
  <% reservations.each do |other|   %>
  <tr>  
    <td class="b-status_value"><a href="<%= reservation_path(other) %>">Details</a></td>
    <td class="b-status_value"><%= I18n.t "reservations.past.shortstate.#{other.present_state}" %></td>
    <td class="b-status_value"><%= other.start_time %></td>
    <td class="b-status_value"><%= other.end_time %></td>
  </tr>
  <% end %>
</table>
<% end %>

