
<% if reservations.any? %>

<h2><%= headline %></h2>

<table>
  <tr>
    <th></th>
    <th>Bescheid erbeten bis</th>
    <th>von</th>
    <th>bis</th>
    <th></th>
  </tr>
  <% reservations.each do |other|   %>
  <tr>  
    <td class="b-status_value"><a href="<%= reservation_path(other) %>">Details</a></td>
    <td class="b-status_value"><%= other.decision_wanted %></td>
    <td class="b-status_value"><%= other.start_time %></td>
    <td class="b-status_value"><%= other.end_time %></td>
    <td class="b-status-value"><%= I18n.t "reservations.conflict_grade_short.#{other.conflict_grade}" %></td>
  </tr>
  <% end %>
</table>

<p>Symbolerklärung:</p>

<table>
  <% [
     :no_conflict,
     :conflict_with_less_important,
     :conflict_with_equally_important,
     :conflict_with_more_important,
     :conflict_with_granted
     ].each do |c|  %>
  <tr>
    <td><%= I18n.t "reservations.conflict_grade_short.#{c}" %></td>
    <td><%= I18n.t "reservations.conflict_grade.#{c}" %></td>
  </tr>
  <% end %>
</table>

<% end %>
