<%
   ui_state = reservation.ui_state now
   if :requested == ui_state
     tr_class = "b-status_row__requested"
     td_highlight_class = "b-status_field"
   elsif :currently_active == ui_state
     tr_class = "b-status_row__currently-active"
     td_highlight_class = "b-status_field__highlight"
   else
     tr_class = "b-status_row"
     td_highlight_class = "b-status_field"
   end
%>

<tr class="<%= tr_class %>">
  <td class="b-status_key">Status</td>
  <td>
    <span class="<%= td_highlight_class %>"><%= I18n.t "reservations.publishstate.#{ui_state}" %></span>
  </td>
</tr>
<% if reservation.qrg_mode.present? %>
  <tr class="<%= tr_class %>">
    <td class="b-status_key">qrg+mode</td>
    <td><%= reservation.qrg_mode %></td>
  </tr>
<% end %>
<% if reservation.comment.present? %>
  <tr class="<%= tr_class %>">
    <td class="b-status_key">Kommentar</td>
    <td><%= reservation.comment %></td>
  </tr>
<% end %>
<% if reservation.op_publish %>
  <tr class="<%= tr_class %>"><td class="b-status_key">OP</td><td><%= reservation.user.callsign %></td></tr>
<% end %>
<tr class="<%= tr_class %>"><td class="b-status_key">von</td><td><%= reservation.start_time %></td></tr>
<tr class="<%= tr_class %>"><td class="b-status_key">bis</td><td><%= reservation.end_time %></td></tr>
<tr class="<%= tr_class %>"><td class="b-status_key__lastline"><a href="<%= reservation_path(reservation) %>">Details</a></td></tr>

