<% if :currently_active == reservation.ui_state(now) %>

<tr class="b-status_row"><td class="b-status_key"></td><td>Aktivierung ist <span class="b-status_field__highlight"><%= I18n.t "reservations.publishstate.currently_active" %></span></td></tr>

<% end %>

<% if reservation.qrg_mode.present? %>
  <tr class="b-status_row">
    <td class="b-status_key">qrg+mode</td>
    <td><%= reservation.qrg_mode %></td>
  </tr>
<% end %>
<% if reservation.comment.present? %>
  <tr class="b-status_row">
    <td class="b-status_key">Kommentar</td>
    <td><%= reservation.comment %></td>
  </tr>
<% end %>
<% if reservation.op_publish %>
  <tr class="b-status_row"><td class="b-status_key">OP</td><td><%= reservation.user.callsign %></td></tr>
<% end %>
<tr class="b-status_row"><td class="b-status_key">von</td><td><%= reservation.start_time %></td></tr>
<tr class="b-status_row"><td class="b-status_key">bis</td><td><%= reservation.end_time %></td></tr>
<tr class="b-status_row"><td class="b-status_key__lastline"><a href="<%= reservation_path(reservation) %>">Details</a></td></tr>

