<h1>Statusseite für Admin</h1>
<p>Stand <%= @now %></p>

<% if @users_to_confirm.any? %>

<h2>User warten auf <a href="<%= user_admin_index_path %>">Verifizierung</a></h2>

<table>
  <tr>
    <th>Call</th>
    <th>DOK</th>
    <th>Email</th>
  </tr>
  <%
     @users_to_confirm.each do |user|
     dok = user.user_preference ? user.user_preference.ov : "NONE"
   %>
  <tr>  
    <td class="b-status_value"><a href="<%= station_4op_path(1) %>?user_id=<%= user.id %>"><%= user.callsign %></a></td>
    <td class="b-status_value"><%= dok %></td>
    <td class="b-status_value"><%= user.email %></td>
  </tr>
  <% end %>
</table>

<% else %>

<p>Niemand wartet auf <a href="<%= user_admin_index_path %>">Verifizierung</a>. Gut.</p>

<% end %>

<% @stations.each do |station| %>

<% unless @station2grant_wait[station.id].empty? %>

<h2>Station <%= station.name %></h2>

<table>
  <tr>
    <th></th>
    <th>Call</th>
    <th>bis</th>
    <th>von</th>
    <th>bis</th>
    <th></th>
  </tr>
  <%
     @station2grant_wait[station.id].each do |other|
     user = other.user
   %>
  <tr>
    <td class="b-status_value"><a href="<%= reservation_path(other) %>">D.</a></td>
    <td class="b-status_value"><a href="<%= station_4op_path(other.station.id) %>?user_id=<%= user.id %>"><%= user.callsign %></a></td>
    <td class="b-status_value"><%= other.decision_wanted %></td>
    <td class="b-status_value"><%= other.start_time %></td>
    <td class="b-status_value"><%= other.end_time %></td>
    <td class="b-status-value"><%= I18n.t "reservations.conflict_grade_short.#{other.conflict_grade}" %></td>
  </tr>
  <% end %>
</table>

<% end # grant_wait not empty %>

<% end # station %>
