<h1>Statusseite für OP <%= @user.callsign %> bzgl. <%= @station.name %></h1>
<p>Stand <%= @now %></p>

<% if @need_preference %>

<h2><%= @station.name %> wartet auf den Fragebogen</h2>

<p>Wir warten noch darauf, dass Sie den <a href="<%= new_user_preference_path %>">Fragebogen</a>
  ausfüllen.</p>

<% elsif @need_log_promise %>

<h2><%= @station.name %> wartet auf Logabgabe-Zusage</h2>

<p>Wir warten noch auf Ihre Zusicherung im <a href="<%= edit_user_preference_path(current_user.user_preference) %>">Fragebogen</a>,
  nach dem Funkbetrieb ADIF-Logs abzugeben.</p>

<p>Wir sind <a href="/Rahmenbedingungen#logs">verpflichtet</a>, Logs
  für die Aktivitäten von <%= @station.name %> abzugeben.  Und alles andere
  als ADIF-Dateien macht erhebliche Mehrarbeit.
  (Aber reden Sie mit <a href="mailto:dj3ei@d-70.de">mir</a>,
  wenn Ihnen die Erstellung von ADIF-Logs tatsächlich Probleme bereitet.)</p>

<% elsif @wait_for_verify %>

<h2><%= @user.callsign %> wartet auf <a href="/Rufzeichenüberprüfung">Überprüfung</a></h2>

<p>Sie warten auf eine Überprüfung durch das
  <%= @station.name %>-Team.
  Die sollte in zwei, drei Tagen erledigt sein.  (Diese Überprüfung
  soll Rufzeichenmisbrauch verhindern.)</p>

<% else %>

<% if @about_to_activate.any? %>

<h2><%= @station.name %> rechnet mit Aktivierung</h2>

<p>Mit Hilfe des Links (erste Spalte) können Kommentar und QRG/Mode-Information
  jederzeit geändert werden, auch noch während der laufenden Aktion.</p>

<table>
  <tr>
    <th></th>
    <th>Status</th>
    <th>von</th>
    <th>bis</th>
  </tr>
  <% @about_to_activate.each do |other|   %>
  <tr>  
    <td class="b-status_value"><a href="<%= edit_reservation_path(other) %>">Details</a></td>
    <td class="b-status_value"><%= I18n.t "reservations.shortstate.#{other.present_state}" %></td>
    <td class="b-status_value"><%= other.start_time %></td>
    <td class="b-status_value"><%= other.end_time %></td>
  </tr>
  <% end %>
</table>

<% end %>

<% end %>

<% if @wait_for_logs.any? %>

<h2><%= @station.name %> wartet auf Logs</h2>

<p><span style="color: green;">Log abgeben geht jetzt!</span> Probleme bitte <a href="mailto:dj3ei@d-70.de">melden</a>!</p>

<table>
  <tr>
    <th></th>
    <th>von</th>
    <th>bis</th>
    <th></th>
  </tr>
  <% @wait_for_logs.each do |other| %>
  <tr>  
    <td><a href="<%= reservation_path(other) %>">Details</a></td>
    <td class="b-status_value"><%= other.start_time %></td>
    <td class="b-status_value"><%= other.end_time %></td>
    <td class="b-status_value"><a href="<%= new_reservation_log_file_record_path other %>">Logabgabe</a></td>
  </tr>
  <% end %>
</table>

<% end %>

<% if @nothing_yet %>

<h2>Sie sind am Zug!</h2>

<p>
  Wenn Sie Lust haben, <%= @station.name %> zu aktivieren,
  klicken Sie auf 
  "Nutzung <a href="<%= new_station_reservation_path(station_id: @station.id) %>"><%= @station.name %></a> anfragen".
</p>

<p>Wenn es damit Probleme gibt, helfe <a href="mailto:dj3ei@d-70.de">ich</a> (Andreas, DJ3EI) gerne.</p>

<% end %>

<%= render "requested", reservations: @wait_for_grants,
    headline: "#{@user.callsign} warted auf Genehmigung der #{@station.name}-Nutzung" %>

<%= render "old_activities", reservations: @past_activations,
    headline: "Frühere #{@station.name}-Nutzungen durch #{@user.callsign}" %>

<%= render "old_requested", reservations: @not_granted,
    headline: "Alte Anträge der #{@station.name}-Nutzung, die nicht genehmigt wurden" %>

<%= render "old_activities", reservations: @canceled,
    headline: "Anträge der #{@station.name}-Nutzung, die #{@user.callsign} zurückgezogen hat" %>
