<h1>Bisherige Aktivierungen von <%= @station.name %></h1>

<p>Stand: <%= @now %>.</p>

<table>

<% @reservations.each do |resv| %>

<%= render 'reservation_details_sans_status', reservation: resv, now: @now %>

<% end %>

</table>
