<h1>Plan für <%= @station.name %></h1>

<p>Stand: <%= @now %>.</p>
<% if @status_autorefresh %>
<% end %>

<% if @status_autorefresh %>
<%= form_tag(station_upcoming_path(@station.id, refresh: "false"), method: "get") do %>
<fieldset>
  <legend>Seite lädt gegen <%= @now + @status_autorefresh %> den neuesten Stand nach.</legend>
  <%= hidden_field_tag name="refresh", "false" %>
  <%= submit_tag("Automatisches Nachladen abschalten.") %>
</fieldset>
<% end %>
<% else %>
<%= form_tag(station_upcoming_path(@station.id, refresh: "true"), method: "get") do %>
 <fieldset>
   <legend>Diese Seite kann den aktuellen Stand regelmäßig nachladen.</legend>
   <%= hidden_field_tag name="refresh", "true" %>
   <%= submit_tag("Automatisches Nachladen anschalten.") %>
 </fieldset>
<% end %>
<% end %>
<table>

<% @upcoming.each do |resv| %>

<%= render 'reservation_details', reservation: resv, now: @now %>

<% end %>

</table>
