<%= form_with(model: captcha_template, local: true) do |form| %>
  <% if captcha_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(captcha_template.errors.count, "error") %> prohibited this captcha_template from being saved:</h2>

      <ul>
      <% captcha_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question %>
    <%= form.text_field :question %>
  </div>

  <div class="field">
    <%= form.label :solution_regexp %>
    <%= form.text_field :solution_regexp %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
