<h1>Captcha Templates</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Solution regexp</th>
      <th>Asked</th>
      <th>Answered</th>
      <th>Answered successfully</th>
      <th>Valid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @captcha_templates.each do |captcha_template| %>
      <tr>
        <td><%= captcha_template.question %></td>
        <td><%= captcha_template.solution_regexp %></td>
        <td><%= captcha_template.asked %></td>
        <td><%= captcha_template.answered %></td>
        <td><%= captcha_template.answered_successfully %></td>
        <td><%= captcha_template.can_be_asked %></td>
        <td><%= link_to 'Show', captcha_template %></td>
        <td><%= link_to 'Edit', edit_captcha_template_path(captcha_template) %></td>
        <td>
          <% if captcha_template.can_be_asked %>
              <%= form_tag captcha_template_path(captcha_template), method: "delete" do %>
                  <input type="submit" name="delete" value="invalidate" class="delete_button"/>
              <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Captcha Template', new_captcha_template_path %>
