<p>
  <strong>Question:</strong>
  <%= @captcha_template.question %>
</p>

<p>
  <strong>Solution regexp:</strong>
  <%= @captcha_template.solution_regexp %>
</p>

<p>
  <strong>Asked:</strong>
  <%= @captcha_template.asked %>
</p>

<p>
  <strong>Answered:</strong>
  <%= @captcha_template.answered %>
</p>

<p>
  <strong>Answered successfully:</strong>
  <%= @captcha_template.answered_successfully %>
</p>

<p>
  <strong>Can be asked:</strong>
  <%= @captcha_template.can_be_asked %>
</p>

<%= link_to 'Edit', edit_captcha_template_path(@captcha_template) %> |
<%= link_to 'Back', captcha_templates_path %>
