<%= form_with(model: user_preference, local: true) do |form| %>
  <% if user_preference.errors.any? %>
    <div class="alert">
      <h2>Ihre Antwort kann so nicht gespeichert werden.</h2>

      <ul>
      <% user_preference.errors.values.each do |message| %>
        <li><%= message.join " "  %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Ich gehöre zu einem OV des Distrikts D *</legend>
    <%= up_radio_button_tag(user_preference, :member_d, "true") %><%= label_tag(:member_d_true, "Ja", class: "short") %>
    <%= up_radio_button_tag(user_preference, :member_d, "false") %><%= label_tag(:member_d_false, "Nein", class: "short") %>
    und zwar: <%= text_field_tag("user_preference[ov]", user_preference.ov, size: 8) %>
  </fieldset>

  <fieldset>
    <legend>Mir darf im Rahmen dieser Aktion Email geschickt werden. *</legend>
    <%= up_radio_button_tag(user_preference, :anniversary_mail, "true") %><%= label_tag(:anniversary_mail_true, "Ja", class: "short") %>
    <%= up_radio_button_tag(user_preference, :anniversary_mail, "false") %><%= label_tag(:anniversary_mail_false, "Nein", class: "short") %>
  </fieldset>

  <fieldset>
    <legend>Vertreter des Distrikts D dürfen mir allgemeine Informations-Emails schicken. *</legend>
    <%= up_radio_button_tag(user_preference, :general_mail, "true") %><%= label_tag(:general_mail_true, "Ja", class: "short") %>
    <%= up_radio_button_tag(user_preference, :general_mail, "false") %><%= label_tag(:general_mail_false, "Nein", class: "short") %>
  </fieldset>

  <fieldset<% if user_preference.older_than_question_version?("2019-03-31") %> class="important"<% end %>  id="default_op_publish">
    <legend>Wenn ich im Einzelfall nichts anderes bestimme, soll mein OP-Rufzeichen
      bei meinen Klubstations-Nutzungsanfragen oder Nutzungen</legend>
    <%= up_radio_button_tag(user_preference, :default_op_publish, "true") %><%= label_tag(:default_op_publish, "öffentlich einsehbar sein.", class: "short") %>
    <%= up_radio_button_tag(user_preference, :default_op_publish, "false") %><%= label_tag(:default_op_publish, "nicht offentlich einsehbar sein.", class: "short") %>
  </fieldset>
  
  <fieldset<% if user_preference.older_than_question_version?("2018-12-01") %> class="important"<% end %> >
    <legend>Ich bin bereit, den Sonder-DOK</legend>
    <p>im April mindestens <%= text_field_tag("user_preference[pledge_hours_april]", user_preference.pledge_hours_april, size: 4, type: "number") %> mal</p>
    <p>im Mai mindestens <%= text_field_tag("user_preference[pledge_hours_may]", user_preference.pledge_hours_may, size: 4, type: "number") %> mal</p>
    <p>im Juni mindestens <%= text_field_tag("user_preference[pledge_hours_june]", user_preference.pledge_hours_june, size: 4, type: "number") %> mal</p>
    <p>... für je eine Stunde (oder mehr) aktiv zu verteilen.</p>
  </fieldset>

  <h2>Logging</h2>

  <p>Das komplette Log muss
  im <a href="http://dcl.darc.de/~dcl/public/index.php">DCL</a>
  landen.  Das gehört zu
  den <a href="https://www.darc.de/funkbetrieb/sonder-doks/">Bedingungen</a>
  für einen Sonder-DOK.  Darum kümmern wir uns, und werden die Logs
  auch bei anderen Stellen abgeben, namentlich beim LotW.  Wir müssen
  die Loginformationen dazu aber auch haben.</p>
  

  <fieldset>
    <legend>Log abliefern</legend>

    <p>Ich bin bereit, alle QSOs, die ich im Rahmen der
      Jubiläumsaktion führe, zu loggen und die Logs zeitnah,
      spätestens innerhalb von 48 Stunden, in Form von ADIF-Dateien
      zur Verfügung zu stellen.
      Ich bin damit einverstanden, dass die von mir geführten QSOs
      veröffentlicht werden.</p>

    <%= up_radio_button_tag(user_preference, :log_provide_adif, "true") %><%= label_tag(:log_provide_adif_true, "Ja", class: "short") %>
    <% if @user.has_reservations? %>
    <p>(Das lässt sich nicht mehr ändern, da Sie bereits Reservierungen beantragt haben.)</p>
    <% else %>
      <%= up_radio_button_tag(user_preference, :log_provide_adif, "false") %><%= label_tag(:log_provide_adif_false, "Nein", class: "short") %>
      <%= up_radio_button_tag(user_preference, :log_provide_adif, "nil") %><%= label_tag(:log_provide_adif_nil, "keine Angabe", class: "short") %>
    <% end %>

  </fieldset>

  <h2>Sonstige Hilfe</h2>

  <fieldset>
    <legend>QSL-Karten</legend>
    <%= form.check_box :help_qslcard %>
    <%= label_tag :help_qslcard, "Ich bin bereit, bei den QSL-Karten mitzuhelfen (namentlich bei denen von SWLs).", class: "short" %>
  </fieldset>

  <fieldset>
    <legend>Programmieren</legend>
    <%= form.check_box :help_programming %>
    <%= label_tag :help_programming, "Ich kenne mich mit Ruby on Rails aus und bin bereit, bei der Programmierung mitzuhelfen.", class: "short" %>
  </fieldset>

  <%= submit_tag "Abschicken." %>
<% end %>
