<h1>Fragebogen für <%= User.find(@user_preference.user_id).callsign %> anzeigen / ändern.</h1>

<%= render 'form', user_preference: @user_preference %>

<%= link_to 'Zurück zur Hauptseite', root_path %>
