<p id="notice"><%= notice %></p>

<h1>Fragebogen-Ergebnisse zusammengefasst</h1>

<p>Es sind bis dato <%= @user_preferences.count %> Fragebögen ausgefüllt worden
  (davon aber <%= @count_old_questionaire %> noch nicht die aktuelle Version).
Wir danken allen Ausfüllern!</p>

<p>Sie verteilen sich auf die OVs des Distriktes wie folgt:</p>

<table>
  <tr><th>OV</th><th>Anzahl</th></tr>
  <% @ov2count.each_pair.sort.each do |ov, count| %>
  <tr><td><%= ov %></td><td><%= count %></td></tr>
  <% end %>
</table>

<% if @count_member_d != @user_preferences.count %>
<p>Davon geben <%= @count_member_d %> an, zu einem OV des Distriktes D zu gehören.</p>
<% end %>

<p>Wir haben, alle zusammengezählt,
  Bereitschaft dafür, den Sonder-DOK</p>

<ul>
  <li><%= @total_april_hours %> mal im Monat April</li>
  <li><%= @total_may_hours %> mal im Monat Mai</li>
  <li><%= @total_june_hours %> mal im Monat Juni</li>
</ul>

<p>für je eine Stunde (oder mehr) zu verteilen.</p>

<p><%= @count_log_provide_adif %> Ops sind bereit, Logs im ADIF-Format zeitnah zur Verfügung zu stellen.</p>

<% if @admin_user %>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Anniversary mail</th>
      <th>General mail</th>
      <th>Ov</th>
      <th>April hours</th>
      <th>May hours</th>
      <th>June hours</th>
      <th>Log provide adif</th>
      <th>Help qslcard</th>
      <th>Help programming</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @user_preferences.each do |user_preference| %>
      <tr>
        <td><%= User.find(user_preference.user_id).callsign %></td>
        <td><%= user_preference.anniversary_mail %></td>
        <td><%= user_preference.general_mail %></td>
        <td><%= user_preference.ov %></td>
        <td><%= user_preference.pledge_hours_april %></td>
        <td><%= user_preference.pledge_hours_may %></td>
        <td><%= user_preference.pledge_hours_june %></td>
        <td><%= user_preference.log_provide_adif %></td>
        <td><%= user_preference.help_qslcard %></td>
        <td><%= user_preference.help_programming %></td>
        <td><%= link_to 'Show', user_preference %></td>
        <td><%= link_to 'Edit', edit_user_preference_path(user_preference) %></td>
        <td><%= link_to 'Destroy', user_preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
