<p id="notice"><%= notice %></p>

<%= link_to 'Ergebnisseite', user_preferences_path %> |
<%= link_to 'Fragebogenangaben ändern', edit_user_preference_path(@user_preference) %> |
<%= link_to 'Zurück zur Hauptseite', root_path %>
