/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: Vera;
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/Vera.woff);
}

@font-face {
  font-family: VeraBd;
  font-style: normal;
  font-weight: bold;
  src: url(/fonts/VeraBd.woff);
}

@font-face {
  font-family: VeraIt;
  font-style: italic;
  font-weight: normal;
  src: url(/fonts/VeraIt.woff);
}

@font-face {
  font-family: VeraM;
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/VeraMono.woff);
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  color: #0a1e5e;
  background-color: #ffffff;
  font-family: Vera, "DejaVu Sans", sans-serif;
}

body {
  margin: 3em 2em 4em 2em;

  h3, h4, h5, h6 {
    font-family: VeraBd, sans-serif;
    margin: 3.5ex 0 0.5ex 0;
  }
  
  h1 {
    font-family: VeraBd, sans-serif;
    margin: 1ex 0 0.5ex 0;
    font-size: 169%;
  }
  
  h2 {
    font-family: VeraBd, sans-serif;
    margin: 7ex 0 2.5ex 0;
    font-size: 130%;
  }
  
  h3 {
    font-size: 100%; }
  
  a {
    color: #1339b3;
  }
  
  p, ul, fieldset {
    margin: 1.5ex 0 1ex 0;
    p {
      margin: 0ex 0 1ex 0;
    }
    p.pregap {
      margin: 2.5ex 0 1ex 0;
    }
  }
  
  blockquote p, blockquote ul {
    margin: 1.5ex 2em 1ex 2em;
  }
  
  li {
    margin: 0 0 1ex 2em; }
    li p {
      margin: 0 0 0.5ex 0;
  }
  
  p strong, li strong {
    font-family: VeraBd, sans-serif;
  }
  
  em {
    font-family: VeraIt, sans-serif;
  }
  
  code, pre {
    font-family: VeraM, monospace;
    color: #642908;
  }
  
  main article {
    max-width: 50em;
    section {
      margin: 7ex 0 1em 0;
      h2 {
        margin: 2.5ex 0 0 0; }
      h3 {
        margin: 3.5ex 0 0 0; }
    }
  }
}

aside.headnote {
  display: inline-block;

  #error_explanation {
     background-color: #ffff50;
     h2, ul, li {
       background-color: #ffff50;
     }
  }
}

.alert {
  font-size: 144%;
  padding: 0.5ex 0 0.5ex 0.2em;
  background-color: #ffff50;

  * {
    background-color: #ffff50;
  }
}

.important *, .important {
  background-color: #a6ffb5;
}

.notice {
  font-size: 120%;
  padding: 0.5ex 0 0.5ex 0.2em;
  background-color: #a6ffb5;
}

form.tiny {
}

.b-app_user {
  padding: 0 0 0 2ex;
  float: right;
}

.b-user_error {
  padding: 0 0 1em 2ex;
  background-color: yellow;
  * {
    background-color: yellow;
  }
}


form:not(.tiny) {
  display: inline-block;
  padding: 0 0 1ex 0;
  fieldset.important {
    background-color: #a6ffb5;
    legend {
       background-color: #a6ffb5;
    }
    p {
      background-color: #a6ffb5;
    }
  }
  fieldset  {
    background-color: #f0f0f0;
    padding-top: 3ex;
    border-style: none;
  
    legend {
       font-size: 120%;
       background-color: #f0f0f0;
    }

    p {
      background-color: #f0f0f0;
    }

    label.short {
      display: inline;
      margin: 0 2.0em 0 0.3em;
    }

    label {
      display: block;
      margin: 0 0 0.5ex 0;
    }
  
    .fillme {
      display: block;
      margin: 0 0 2ex 0;
    }
  }
}

form:not(.tiny) + * {
  display: block;
  margin-top: 2em;
}

.b-static-pages_navigation {
  display: block;
  padding: 1ex 0 1ex 0;
}