// Place all the styles related to the LogFileRecords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.b-lfr_p-in-form__before {
  padding: 0 0 1ex 0;
  margin-bottom: 0;
  margin-top: 0;
}

.b-lfr_legend {
  padding: 0 0 0 0;
}


/*
  Need to do this to override application.css.scss,
  which for unfortunate historical reasons does not yet use bem:
*/
form:not(.tiny).b-lfr_form__in-row {
  fieldset.b-lfr_fieldset {
    padding-top: 1ex;
    padding-bottom: 1ex;
    margin-top: 6ex;
    margin-bottom: 6ex;

    p.b-lfr_p-in-form__after {
      margin: 0 0 0 0;
      padding-top: 1ex;
    }

    input.b-lfr_button__in-row {
      display: inline;
    }
  
    label.b-lfr_label__lastline {
      display: inline;
    }
  }
}

.b-lfr_form {
  fieldset.b-lfr_fieldset {
    padding-top: 1ex;
    padding-bottom: 1ex;
    margin-top: 6ex;
    margin-bottom: 6ex;

    p.b-lfr_p-in-form__after {
      margin: 0 0 0 0;
      padding-top: 1ex;
    }

    input.b-lfr_button__in-row {
      display: inline;
    }
  
    label.b-lfr_label__lastline {
      display: inline;
      padding: 0 2em 0 0.5em;
    }

    label.b-lfr_ota-label {
        margin-top: 0.5ex;
        display: inline-block;
        min-width: 6em;
    }

    input.b-lfr_ota-field {
        margin-top: 0.5ex;
        display: inline;
    }

    label.b-lfr_ota-label__first {
        margin-top: 2ex;
        display: inline-block;
        min-width: 6em;
    }

    input.b-lfr_ota-field__first {
        margin-top: 2ex;
        display: inline;
    }
  }
}

