// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.b-res_key {
  padding: 0 1em 0 0;
}

.b-res_line__status {
  font-family: VeraBd, sans-serif;
}

.b-res_warning {
  margin: 10ex 0 2ex 0;
  padding: 2ex 2em 2ex 2em;
  font-family: VeraBd, sans-serif;
  font-size: 130;
  background-color: #ffff50;
}

.b-res_conflict__no-problem {
  background-color: #a6ffb5;
}

.b-res_conflict__uncertain {
  background-color: #fff797;
}

.b-res_conflict__bad {
  background-color: #ffb897;
}

.b-res_line__first td {
  padding-top: 2ex;
}

.b-res_times td {
  padding: 1ex 1em 0 0;
}

.b-res_value {
  padding: 0ex 1em 0 1em;
}

.b-res_edit-button {
  margin: 2ex 0 0 5em;
}

.b-res_edit-button__left {
  margin: 2ex 0 0 0;
}


.b-res_edit-form__left {
  float: left;
}

article {
  form.b-res_edit-form__row {
    display: inline;
  }
}

form:not(.tiny) {
  .b-res_edit-button__left-in-row {
    margin: 2ex 0 0 0;
    display: inline;
  }
  .b-res_edit-button__in-row {
    margin: 2ex 0 0 5em;
    display: inline;
  }
}

.b-res_change-button {
  margin: 1ex 0 0 0;
}

.b-res_qrg-only-form {
  margin: 0 0 2ex 0;
}

.b-res_row__irrelevant {
  color: #848eae;
}