// Place all the styles related to the status controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.b-status_value {
  padding: 0 0.5em 0 0.5em;
}

.b-status_key {
  padding: 0ex 1em 0 1em;
}

.b-status_key__lastline {
  padding: 0 1em 2ex 1em;
}

.b-status_row__currently-active {
  .b-status_key__lastline {
    padding: 0 1em 4ex 1em;
  }
}

.b-status_row__requested * {
  color: #848eae;
}

.b-status_field__highlight {
  background-color: #a6ffb5;
  font-size: 120;
}