<p>Hallo, <%= @resource.callsign %>,</p>

<p>es geht hier um das Klubstationsrufzeichen dr70bln und den Sonder-DOK
  70d dazu f&uuml;r die Aktion zu Ehren des 70j&auml;hrigen Bestehens
  des <a href="https://www.darc.de/der-club/distrikte/d/">DARC-Distriktes D</a>.</p>

<p>Sie erhalten diese automatisch erstellte Nachricht, weil jemand auf
  <a href="https://www.d-70.de/">www.d-70.de</a>
  sich mit Ihrem Rufzeichen <%= @resource.callsign %> und Ihrer Email-Anschrift
  <%= @email %> angemeldet und dort auch bereits ein Password hinterlassen hat.</p>

<p><b>Wenn Sie das nicht selbst waren,
    ignorieren Sie bitte diese Mail.</b></p>

<p>Wenn das aber alles seine Richtigkeit hat und Sie bei der
  Jubil&auml;ums-Aktion des Distriktes D mittun und dr70bln aktivieren
  wollen, klicken Sie bitte auf diesen Verifikationslink:</p>

<p><%= link_to(raw("Den Account für #{@resource.callsign} auf www.d-70.de best&auml;tigen.\n"), \
       confirmation_url(@resource, confirmation_token: @token)) %></p>

<p>Diese Email-Nachricht wurde automatisch erstellt.  Wenn es
  Probleme damit gibt, schreiben Sie bitte mir, dem Verantwortlichen:
  Andreas Kr&uuml;ger, dj3ei,
  <a href="mailto:dj3ei@d-70.de">dj3ei@d-70.de</a></p>

<p>Vy 73!</p>
