<!DOCTYPE html>
<html>
  <head>
    <title>D wird 70</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%- # = javascript_include_tag "application", "data-turbolinks-track": "reload" -%>
  </head>

  <body>

    <%= render partial: "partials/flash" %>

    <main>
      <article>
        <%= yield %>
      </article>
    </main>
  </body>
</html>
